* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.toggle {
  margin: 50px;
  width: 100px;
  height: 40px;
  position: relative;
  display: inline-block;
}

input {
  opacity: 0;
}

.toggle-inner {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  border: solid 2px rgb(171, 163, 163);
  transition: background-color 0.25s ease-in;
  padding: 4px 10px;
  font-size: 20px;
  font-size: 25px;
  font-family: Arial;
  color: rgb(255, 255, 255);
}

.toggle-switch {
  background-color: white;
  border: solid 2px rgb(198, 191, 191);
  position: absolute;
  top: -5px;
  left: 75px;
  border-radius: 40px;
  right: -25px;
  bottom: -5px;
  transition: translate 0.25s ease-in;
}

.toggle-inner::before {
  content: "Yes";
  opacity: 1;
  position: absolute;
  left: 25%;
  text-align: center;
  font-weight: 700;
}

input:checked + .toggle-label .toggle-switch {
  translate: -100px;
  transition: translate 0.25s ease-in;
}

input:checked + .toggle-label .toggle-inner {
  background-color: rgb(185, 181, 181);
  transition: background-color 0.25s ease-in;
}

input:checked + .toggle-label .toggle-inner::before {
  content: "No";
  left: 40px;
  position: absolute;
  color: rgb(228, 228, 228);
}
